name: Release

on:
  push:
    tags:
    - '*.*.*'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        - os: ubuntu-22.04
          cargo_extra_flags: --target x86_64-unknown-linux-musl
          output_executable: target/x86_64-unknown-linux-musl/release/riscv_trace_debugger
          output_executable_upload_as: riscv_trace_debugger-linux-x86_64
        - os: macos-26
          output_executable: target/release/riscv_trace_debugger
          output_executable_upload_as: riscv_trace_debugger-mac-arm
        - os: windows-2025
          output_executable: target/release/riscv_trace_debugger.exe
          output_executable_upload_as: riscv_trace_debugger-windows-x86_64.exe
    steps:
    - uses: actions/checkout@v6

    - name: Install Musl target
      if: ${{ matrix.os == 'ubuntu-22.04' }}
      run: >
        sudo apt-get install musl-tools &&
        rustup target add x86_64-unknown-linux-musl &&
        musl-gcc --version

    - name: Versions
      run: cargo --version && rustc --version

    - name: Build
      run: cargo build --verbose --release --locked ${{ matrix.cargo_extra_flags }}

    - name: Test
      run: cargo test --verbose --release --locked ${{ matrix.cargo_extra_flags }}

    - name: Rename Output
      shell: pwsh
      run: Move-Item -Path "${{ matrix.output_executable }}" -Destination "target/${{ matrix.output_executable_upload_as }}"

    - name: Release
      uses: softprops/action-gh-release@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        files: target/${{ matrix.output_executable_upload_as }}
        fail_on_unmatched_files: true